
nav{
margin-top: 5px;
display: inline-block;
}


a
{
    color: rgb(202, 203, 204);
    padding: 20px;
    font-size: 30px;
    text-decoration:none;
}
a:active
{
    color: rgba(89, 88, 88, 0.968);
}

.active
{
    color: rgba(89, 88, 88, 0.968);
    text-decoration:none;
}
.br
{
    border:1px solid rgb(216, 214, 214);
}