<div>
    <nav>
        <a routerLink="" routerLinkActive="active br" [routerLinkActiveOptions]="
        {exact:true}">Main</a>
         <!-- Только для главной опшионс  -->
        <a routerLink="/apple" routerLinkActive="active br">Apple</a>
        <a routerLink="/asus"routerLinkActive="active br">Asus</a>
        <a routerLink="/hp"routerLinkActive="active br">HP</a>
        <a routerLink="/acer"routerLinkActive="active br">Acer</a>
        <a routerLink="/lenovo"routerLinkActive="active br">Lenovo</a>
        <a routerLink="/samsung"routerLinkActive="active br">Samsung</a>
        <a routerLink="/dell"routerLinkActive="active br">Dell</a>
        <a routerLink="/canon"routerLinkActive="active br">Canon</a>
        <a routerLink="/tplink"routerLinkActive="active br">Tp-link</a>
        <a routerLink="/logitech"routerLinkActive="active br">Logitech</a>
    </nav>
</div>