

<!-- //////////////////////////////////////HW//////////////////////////////////// -->
<div class="flex-container">
    
    <div class="product-item">
      <img [src]="Arr[0].img" alt="">
      <h2>{{ Arr[0].Name }}</h2>
    </div>
  
    <div class="product-item">
      <img [src]="Arr[1].img" alt="">
      <h2>{{ Arr[1].Name }}</h2>
    </div>
    
    <div class="product-item">
        <img [src]="Arr[2].img" alt="">
        <h2>{{ Arr[2].Name }}</h2>
    </div>

    <div class="product-item">
        <img [src]="Arr[3].img" alt="">
        <h2>{{ Arr[3].Name }}</h2>
    </div>
    
      <div class="product-item">
        <img [src]="Arr[4].img" alt="">
        <h2>{{ Arr[4].Name }}</h2>
      </div>
      
      <div class="product-item">
          <img [src]="Arr[5].img" alt="">
          <h2>{{ Arr[5].Name }}</h2>
      </div>
      

      <div class="product-item">
        <img [src]="Arr[6].img" alt="">
        <h2>{{ Arr[6].Name }}</h2>
        <p>{{ Arr[6].text }}</p>
      </div>
    
      <div class="product-item">
        <img [src]="Arr[7].img" alt="">
        <h2>{{ Arr[7].Name }}</h2>
        <p>{{ Arr[7].text }}</p>
      </div>
      
      <div class="product-item">
          <img [src]="Arr[8].img" alt="">
          <h2>{{ Arr[8].Name }}</h2>
          <p>{{ Arr[8].text }}</p>
      </div>

      <div class="product-item">
        <img [src]="Arr[9].img" alt="">
        <h2>{{ Arr[9].Name }}</h2>
        <p>{{ Arr[9].text }}</p>
      </div>
    
      <div class="product-item">
        <img [src]="Arr[10].img" alt="">
        <h2>{{ Arr[10].Name }}</h2>
        <p>{{ Arr[10].text }}</p>
      </div>
      
      <div class="product-item">
          <img [src]="Arr[11].img" alt="">
          <h2>{{ Arr[11].Name }}</h2>
          <p>{{ Arr[11].text }}</p>
      </div>
  </div>

  <!-- //////////////////////////////////////HW//////////////////////////////////// -->
